{% extends "base.html" %}

{% block extrahead %}
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2188063137129806"
     crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
  {{ super() }}
  <br/>
  <!-- Matched Content AdSense -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-2188063137129806"
       data-ad-slot="5041245242"
       data-ad-format="autorelaxed"
       data-full-width-responsive="true"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
{% endblock %}

{% block header %}
  {{ super() }}
  <!-- ADSENSE PLACEHOLDER: HEADER - paste your <ins> tag here -->
{% endblock %}

{% block site_nav %}
  {{ super() }}
  <!-- ADSENSE PLACEHOLDER: LEFT SIDEBAR (nav) - paste your <ins> tag here -->
{% endblock %}

{% block toc %}
  {{ super() }}
  <br/>
  <!-- Sidebar AdSense -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-2188063137129806"
       data-ad-slot="6233018586"
       data-full-width-responsive="true"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
{% endblock %}

{% block footer %}
  {{ super() }}
  <!-- ADSENSE PLACEHOLDER: FOOTER - paste your <ins> tag here -->
{% endblock %}
